.statistics {
  width: 400px;
  border: 1px solid #ccc;
  margin: 20px auto;
}

.title {
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.stat-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding: 0;
}

.item {
  list-style: none;

  display: flex;
  flex-direction: column;
}

/* .label {
}

.percentage {
} */
